/conf/ext
/web/WEB-INF/lib/*.jar
/web/js/extjs/**
nbproject/private/*
/build/
/dist/

setup/glassfish-resources.xml
web/META-INF/context.xml
nbproject/build-impl.xml~
web/js/adman/app.js
web/js/adman/controller/productGroup.js
web/js/adman/view/productGroup/tree.js
nbproject/*
web/WEB-INF/glassfish-web.xml
build.xml
parser gen generated xml/e-autopay.xml
parser gen generated xml/Partners_e-autopay.xml
web/WEB-INF/glassfish-web.xml
src/conf/parsergen/e-autopay.xml
/.git-rewrite/