body{
    margin: 0px;
    background-color: #f5f5f5;
    position: relative;
}

table,td,th,tr{
    border-bottom-color: black;
    border-style: solid;
    border-width: 1px;
}
th{
    height: 30px;
}

#container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.affProgGroupTable {
        width: 1200px;
        position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: black;
        border-collapse:collapse;
}
.affProgGroupTable th{
   text-align: center;
   background-color: #818081;
}

.billingDetailsTd {
    text-align: left;
}
.affProgGroupTable td{
   text-align: center;
}

.affProgGroupTable-td-1{
    width: 148px;
}
.affProgGroupTable-td-2{
    width: 348px;
}
.affProgGroupTable-td-3{
    width: 398px;
}
.affProgGroupTable-td-4{
    width: 149px;
}
.affProgGroupTable-td-5{
    width: 148px;
}


tr:nth-child(even){
    background: #eeedfe
}
tr:nth-child(odd){
    background: #ffffff
}



#topMenue{
    list-style: none;
    position: relative;
    top:20px;
}

#topMenue li{
    float:left;
    margin-right: 20px;
    font-size: 1em;
}
#topMenue a:visited,#topMenue a:link{
    text-decoration: none;
    color:#cccccc;
    
}
#topMenue a:hover{
    color:#ffffff;
    text-decoration: underline;
}




.verticalBrake1{
    
    width: 100%;
    height: 10px;
}
#welcomeUser{
    position: relative;
    float:right;
    font-size: 1em;
    left: -40px;
    top: 20px;
    color: #cccccc;
    
}


#programMenu{
    height: 70px;
    background-color: #353535;
    
}
.navlink:hover{
    
    color: #777;
    cursor: pointer;
}

table{
    
    border-collapse: collapse;
    border-width: 1px;
    border-top-style: solid;
    margin-top: 20px;
    width:960px;
    margin-right:auto;
    margin-left: auto;
        
    
}

table th{
    
    background-color: #26c516;
}