

#accessNavBar{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#accessNavBar ul{
    display: inline;
    float: left;
    list-style: none;     
}
#accessNavBar li{
    
    float: left;
    margin-left: 10px;
}
#accessNavBar span{
    float: right;
    display: inline;
}


#programSpec{
    
    width: 500px;
    background-color: #c4c4c4;
    margin: 35px 0px 20px 0px;
    padding: 15px 10px 15px 10px;
}
#programSpec table ,#programSpec tr,#programSpec td,#programSpec th{
    border:none;
    background-color: #F9F9F9;
    margin-top: 0px;
}