<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
    <property name="cache.use_query_cache">true</property>
    <mapping class="com.mne.advertmanager.model.Affiliate"/>
    <mapping class="com.mne.advertmanager.model.Author"/>
    <mapping class="com.mne.advertmanager.model.Product"/>
    <mapping class="com.mne.advertmanager.model.ProductGroup"/>
    
</hibernate-configuration>
