<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--
Configuration file for Hibernate system
Contains list of classes which comprise our model and cache provider definition
-->
<hibernate-configuration>
    <session-factory>
        <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
        <property name="cache.use_query_cache">true</property>
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.use_structured_entries">true</property>
        <property name="cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property>

        <mapping class="com.mne.advertmanager.model.Affiliate"/>
        <mapping class="com.mne.advertmanager.model.Partner"/>        
        <mapping class="com.mne.advertmanager.model.AffProgram"/>
        <mapping class="com.mne.advertmanager.model.AffProgramGroup"/>
        <mapping class="com.mne.advertmanager.model.PurchaseOrder"/>
        <mapping class="com.mne.advertmanager.model.AccessSource"/>        
        <mapping class="com.mne.advertmanager.model.AccessLog"/>
        <mapping class="com.mne.advertmanager.parsergen.model.Project"/>
        <mapping class="com.mne.advertmanager.parsergen.model.DataSpec"/>
        <mapping class="com.mne.advertmanager.parsergen.model.SelectableItem"/><!--  -->
        <mapping resource="com/mne/advertmanager/model/FilterableBehaviorStatistics.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
