<configuration scan="true"> 

<!-- known debug levels:
     
     error
     info
     debug
-->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
  
  
  <logger name="com.mne" level="debug"/>
  
  <logger name="org.hibernate.SQL" level="debug"/>

  
  <logger name="org.hibernate" level="error"/>
  
  
  
  <logger name="org.springframework" level="error"/>
  
  <logger name="org.springframework.web" level="info"/>
  
  <logger name="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" level="error"/>
  
  <logger name="com.mchange" level="error"/>
  
  <logger name="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl" level="debug"/>
  
  <logger name="ch.qos.logback.classic.LoggerContext" level="debug"/>
  
  <logger name="com.mne.advertmanager.util.JSoupTransport" level="debug"/>
  
  <logger name="org.hibernate.internal.SessionFactoryImpl" level="error"/>
  <logger name="org.hibernate.hql.internal.ast.util.SessionFactoryHelper.findSQLFunction" level="debug"/>
  

  
  
  
  
</configuration>